*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 1300px;
    width: 80%;
    margin: 0px auto;
}

header {
    position: sticky;
    top: 0px;
}

.navbar {
    background-color: rgba(255,255,255,0.9);
    box-shadow: rgb(157 157 157 / 20%) 0px 4px 10px;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-block: 10px;
}
.nav-left{
    margin-left: 16px;
    display: flex;
    align-items:center;
}
.site-logo{
    cursor: pointer;
    width: 50px;
    margin-bottom: 5px;
    min-height: 100%;
    max-height: 100%;
}
.site-title{
    cursor: pointer;
    margin-left: 10px;
    font-size: 35px;
    font-weight: bold;
}

.nav-items-list{
    cursor: pointer;
    display: flex;
    list-style: none;
    /* padding: 10px; */
}
.nav-items{
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}
.search-articles-home{
    border: 2px solid rgb(47,141,70);
    border-radius: 5px;
    margin-right: 5px;
    padding-block: 10px;
    padding: 8px 8px;
}
.search-articles-home:focus{
    outline: none;
}
.search-btn-home{
    background-color: rgb(47,141,70);
    border-style: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 10px 25px;
}

.about-section{
    padding: 140px 0px;
}

.about-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section-motto{
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 40px;
}
.about-section-subtext{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 50px;
    max-width: 700px;
    line-height: 150%;
}

.about-section-btn-container {
    display: flex;
    flex-direction: row;
}

.about-section-btn{
    background-color: rgb(47,141,70);
    border: 1px solid rgb(47,141,70);
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    padding: 10px 20px;
    transition: 0.1s;
}
.about-section-btn:hover {
    cursor: pointer;
    border: 1px solid rgb(47,141,70);
    color: rgb(47,141,70);
    background-color: white;
    box-shadow: 0px 1px 5px 1px rgb(177, 177, 177);
}

.why-section{
    background-color: rgb(247,248,252);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.why-section-heading {
    color: rgb(47,141,70);
    text-align: center;
    margin-bottom: 60px;
}

.reasons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 50px;
    column-gap: 2px;
}
.reasons{
    width: 380px;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid blue; */
    border-radius: 5px;
    box-shadow: 3px 0 20px  rgba(0, 0, 0, 0.2);
    padding: 40px;
}
.reason-logo{
    width: 60px;
    margin-bottom: 20px;
}
.reasons h2{
    margin-bottom: 20px;
}
.reasons p{
    color: rgb(144,148,155);
}
.reason1{
    border-bottom: 5px solid rgb(156,219,211) ;
}
.reason2{
    border-bottom: 5px solid rgb(245,175,180);
}
.reason3{
    border-bottom: 5px solid rgb(177,163,254);
}
.reason4{
    border-bottom: 5px solid rgb(163,203,224);
}
.reason5{
    border-bottom: 5px solid rgb(166,217,254);
}
.reason6{
    border-bottom: 5px solid rgb(253,200,164);
}

@media (max-width: 900px) {

    header {
        position: static;
    }

    .navbar-container {
        flex-direction: column;
        gap: 20px;
    }

    .about-section {
        padding: 32px 0px;
        text-align: center;
    }

    .about-section-motto {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .about-section-subtext {
        font-size: 20px;
        margin-bottom: 26px;
    }

    .about-section-btn-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }


}
