@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*----------------hearder section------------------ */

.container {
    max-width: 1300px;
    width: 90%;
    margin: 0px auto;
}
html{
    scroll-behavior: smooth;
}
header {
    position: sticky;
    top: 0px;
}

.navbar {
    background-color: rgba(255,255,255,0.1);
    box-shadow: rgb(157 157 157 / 20%) 0px 4px 10px;
    /* background: rgba(255,255,255,0.1);
    box-shadow: 0 4px 50px rgba(0,0,0,0.5); */
    backdrop-filter: blur(10px);
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
}
.nav-left{
    margin-left: 16px;
    display: flex;
    align-items:center;
}
.site-logo{
    cursor: pointer;
    width: 50px;
    margin-bottom: 5px;
    min-height: 100%;
    max-height: 100%;
}
.site-title{
    cursor: pointer;
    margin-left: 10px;
    font-size: 35px;
    font-weight: normal;
}
.openMenu{
    font-size: 3rem;
    margin: 10px;
    display: none;
    cursor: pointer;
}
.nav-items-list{
    cursor: pointer;
    display: flex;
    list-style: none;
    /* padding: 10px; */
}
.nav-items-list button{
    all: unset;
    cursor: pointer;
}
.closeMenu{
    display: none;
    font-family:'sans-serif';
}
.nav-items{
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    position: relative;
}
.nav-items:hover{
    
    transition :all 0.5s ease;
    color: rgb(47,141,70);
}
.nav-items::after{
    background: rgb(47,141,70);
    content: "";
    height: 3px;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all .2s cubic-bezier(.4,0,.2,1);
    width: 0;
}
.nav-items:hover::after{

    width: 100%;
    left: 0;
    right: auto;
}

.nav-right{
    display: flex;
    align-items: center;
}

/* ----------------main content--------------------*/
.about-section{
    padding: 140px 0px;
}
.about-us{
    display: block;
    text-align: center;
    height: 100vh;
}

.about-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section-motto{
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 40px;
}
.about-section-subtext{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 50px;
    max-width: 700px;
    line-height: 150%;
    text-align: justify;
}

.about-section-btn-container {
    display: flex;
    flex-direction: row;
}

.about-section-btn{
    background-color: rgb(47,141,70);
    border: 1px solid rgb(47,141,70);
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    padding: 10px 20px;
    transition: 0.1s;
}
.about-section-btn:hover {
    cursor: pointer;
    border: 1px solid rgb(47,141,70);
    color: rgb(47,141,70);
    background-color: white;
    box-shadow: 0px 1px 5px 1px rgb(177, 177, 177);
}

.why-section{
    background-color: rgb(247,248,252);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.why-section-heading {
    color: rgb(47,141,70);
    text-align: center;
    margin-bottom: 60px;
}

.reasons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 50px;
    column-gap: 2px;
}
.reasons{
    width: 380px;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid blue; */
    border-radius: 5px;
    box-shadow: 3px 0 20px  rgba(0, 0, 0, 0.2);
    padding: 40px;
}
.reason-logo{
    width: 60px;
    margin-bottom: 20px;
}
.reasons h2{
    margin-bottom: 20px;
}
.reasons p{
    color: rgb(144,148,155);
}
.reason1{
    border-bottom: 5px solid rgb(156,219,211) ;
}
.reason2{
    border-bottom: 5px solid rgb(245,175,180);
}
.reason3{
    border-bottom: 5px solid rgb(177,163,254);
}
.reason4{
    border-bottom: 5px solid rgb(163,203,224);
}
.reason5{
    border-bottom: 5px solid rgb(166,217,254);
}
.reason6{
    border-bottom: 5px solid rgb(253,200,164);
}

/* ------------------footer section----------------- */
footer{
    background-color: rgb(47,141,70);
    color: white;
    padding: 20px 10%;
}
.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.site-info{
    /* width: 250px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-block: 20px;
}
.site-info img{
    width: 100px;
}
.footer-site-title{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 15px;
}
.community h3, .socials h3{
    border-bottom: 1px solid white;
    margin-bottom: 25px;
}
.community ul, .socials ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}
.community li, .socials li{
    cursor: pointer;
    margin-bottom: 15px;
}
.contact-us{
    border-left: 1px solid white;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 20px;
    padding-left: 80px;
}
.contact-us h3{
    margin-bottom: 48px;
}

.copy-rights-section{
    border-top: 0.01rem solid rgb(220,222,226);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
