@media (max-width: 900px) {

    /* header {
        position: static;
    } */

    .navbar-container {
        margin-left: 0;
        flex-direction: column;
        gap: 20px;
    }

    .nav-left{
        margin-left: 0;
    }
    
    .about-section {
        padding: 32px 0px;
        text-align: center;
    }

    .about-section-motto {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .about-section-subtext {
        font-size: 20px;
        margin-bottom: 26px;
    }

    .about-section-btn-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }

    /* --------------footer section--------------- */
    .footer-container{
        flex-direction: column;
        align-items: center;
    }
    .community, .socials{
        margin-bottom: 20px;
    }
    .community h3, .socials h3{
        margin-bottom: 10px;
    }
    .community ul, .socials ul{
        align-items: center;
    }
    .contact-us{
        border: 0;
        padding-left: 0;
        align-items: center;
    }
    .contact-us h3{
        border-bottom: 1px solid white;
        margin-bottom: 20px;
    }
}

/* -----------Hamburger Menu------------- */

@media(max-width:480px){
    .nav-items-list{
        height: 50vh;
        background-color: rgb(255, 255, 255);
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
        margin-left: 100px;
    }
    .nav-items-list li{
        padding: 6px;
    }
    .openMenu,.nav-right,.closeMenu{
        display: block;
    }
    .navbar-container{
        flex-direction: row;
        height:65px;
    }
    .nav-right{
        flex-direction: row;
        position: relative;
    }
    .nav-left{
        position: relative;
        left: 20px;
    }
     .nav-left img{
        height: 35px;
        width: 35px;
    }
    .closeMenu{
        position: absolute;
        top: 30px;
        right: 30px;
    }
    .theme-btn{
        display: none;
    }
    .site-title{
        font-size: 28px;
    }
    .about-us{
        height: 400vh;
    }
    .fullform{
        font-size: 17px;
    }
    .photos{
        flex-direction: column;
    }
    .about-us-text{
        font-size: 16px;
    }
}
